.title-text {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  font-size: 40px;
}

.page-link-text {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  font-size: 25px;
}

.subtext {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  font-size: 30px;
}

.small-salt{
  font-family: 'Rock Salt', cursive;
}

.footer-contain{
  color: white;
  background-color: black;
}