// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
$display: "Rock Salt", cursive;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
$default: "Bebas Neue", cursive;

// Colours
$off-white: #f8f8f3;
$highlight-blue: #00b4d8;
$highlight-yellow: #f5c75c;
$highlight-pink: #e1597e;
$highlight-red: #8e1d1f;
$black: black;

// Breakpoints
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 992px;
$screen-lg: 1200px;
