.about-container {
    padding-top: 5vh;
    .social-icon {
        margin-left: 0.25vw;
        margin-right: 0.25vw;
    }

    .top-buffer {
        margin-top: 4vh;
    }

    .about-image {
        height: 20rem;
        margin-left: 2em;
    }
    .icons-container {
        margin: 1em 0 2em;
    }

    @media (max-width: $screen-md) {
        .about-image {
            margin: 0;
        }
        .icons-container {
            margin-block: 2em;
        }
    }
    @media (max-width: $screen-sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text-img-container {
            margin-left: 1em;
        }
    }
}
