@import "variables";
// Import sub scss files here. Since we import app.scss in app.js, everything imported here will be given to app
@import "Guestbook";
@import "Home";
@import "Footer";
@import "About";
@import "Tour";
@import "Gallery";
@import "Navigation";
@import "Music";

// Would recommend making this file just imports / global app styles and create new scss files for specific stylings of pages

.App {
  font-family: $default;
  overflow: hidden;
  height: 100%;
  background-color: $off-white;
}

/* Works on Firefox */
* {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: $highlight-red $off-white; /* scroll thumb and track */
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1em;
}
*::-webkit-scrollbar-track {
  background-color: $off-white;
}
*::-webkit-scrollbar-thumb {
  background-color: $highlight-red;
  border-radius: 20px;
}

// Global text styles
.title-text {
  font-family: $display;
  font-weight: bold;
  font-size: 40px;
}

.page-link-text {
  font-family: $display;
  font-weight: bold;
  font-size: 25px;
  margin-inline: 0.5em;
}

.subtext {
  font-family: $display;
  font-weight: bold;
  font-size: 30px;
}

.small-salt {
  font-family: $display;
  margin-bottom: 0;
  padding-bottom: 2vh;
}

.reg-text {
  font-family: $default;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.top-horizontal-padding {
  width: 99%;
}

.long-navbar {
  width: 99%;
}

.col-centered {
  margin-left: 0%;
  margin-right: 0%;
}

