@import "variables";
// Import sub scss files here. Since we import app.scss in app.js, everything imported here will be given to app
@import "Guestbook";
@import "Home";
@import "Footer";
@import "About";
@import "Tour";
@import "Gallery";
@import "Navigation";

.App {
  font-family: $default;
  overflow: hidden;
  background-color: $off-white;
}

/* Works on Firefox */
* {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: $highlight-red $off-white; /* scroll thumb and track */
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1em;
}
*::-webkit-scrollbar-track {
  background-color: $off-white;
}
*::-webkit-scrollbar-thumb {
  background-color: $highlight-red;
  border-radius: 20px;
}

// Global text styles
.title-text {
  font-family: $display;
  font-weight: bold;
  font-size: 40px;
}

.page-link-text {
  font-family: $display;
  font-weight: bold;
  font-size: 25px;
  margin-inline: 0.5em;
}

.subtext {
  font-family: $display;
  font-weight: bold;
  font-size: 30px;
}

.small-salt {
  font-family: $display;
  margin-bottom: 0;
  padding-bottom: 2vh;
}

.reg-text {
  font-family: $default;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.top-horizontal-padding {
  width: 99%;
}

.long-navbar {
  width: 99%;
}

.col-centered {
  margin-left: 0%;
  margin-right: 0%;
}



// .separate-row {
//   background-color: white;
//   padding-top: 4vh;
//   padding-bottom: 4vh;
//   justify-content: center;
//   align-items: center;
// }

// .image-row {
//   background-color: white;
// }

.music-contain {
  padding-top: 3vh;
  height: vmax;
}

.music-row::after {
  content: "";
  clear: both;
  display: table;
}

.music-row {
  padding-left: 18vh;
  padding-top: 2vh;
}

.music-row2 {
  padding-left: 38vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.music-row2::after {
  content: "";
  clear: both;
  display: table;
}

.music-col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.music-col2 {
  float: left;
  width: 40%;
  padding: 5px;
}

.album {
  border-radius: 20px;
  height: 220px;
}
.icons-row {
  padding-left: 10%;
  width: 80%;
  padding-top: 10px;
}

.icons-row::after {
  content: "";
  clear: both;
  display: table;
}
.icon-col {
  float: left;
  width: 35%;
}

.icon {
  width: 50px;
}

.special-nav {
  text-decoration: none;
  margin-top: 0.25em;
  color: rgba(black, 0.55);
  &:hover {
    color: rgba(black, 0.7);
  }
  @media (max-width: $screen-sm) {
    margin-top: 0;
    margin-left: 0.5em;
  }
}
