@import "variables";
// Import sub scss files here. Since we import app.scss in app.js, everything imported here will be given to app
@import "Guestbook";

// Would recommend making this file just imports / global app styles and create new scss files for specific stylings of pages

.App {
  font-family: $default;
  overflow-x: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: $highlight-red $off-white; /* scroll thumb and track */
  background-color: $off-white;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1em;
}
*::-webkit-scrollbar-track {
  background-color: $off-white;
}
*::-webkit-scrollbar-thumb {
  background-color: $highlight-red;
  border-radius: 20px;
}

// Global text styles
.title-text {
  font-family: $display;
  font-weight: bold;
  font-size: 40px;
}

.page-link-text {
  font-family: $display;
  font-weight: bold;
  font-size: 25px;
  margin-inline: 0.5em;
}

.subtext {
  font-family: $display;
  font-weight: bold;
  font-size: 30px;
}

.small-salt {
  font-family: $display;
  margin-bottom: 0;
  padding-bottom: 2vh;
  background-color: black;
}

.reg-text {
  font-family: $default;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.top-horizontal-padding{
  width: 99%;
}

.long-navbar{
  width: 99%;
}


.col-centered {
  margin-left: 0%;
  margin-right: 0%;
}

.footer-contain {
  color: white;
  background-color: black;
  padding-top: 2vh;
}

.social-icon {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}

.about-contain {
  padding-top: 5vh;
}

.top-buffer {
  margin-top: 4vh;
}

.about-image {
  height: 20rem;
}

.home-image {
  margin-top: 34vh;
}

.video-responsive {
  margin-top: 7vh;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#mc_embed_signup{
  width: 100%;
  padding: 0;
}

#mc_embed_signup_scroll {
  background-color: black;
}

.mc-field-group {
  background: black;
}

.footer {
  color: white;
  background-color: black;
  padding-top: 2vh;
}

.input-field {
  background-color: white;
}

.indicates-required {
  background-color: black;
}

label {
  background-color: black;
  color: white;
}

.row {
  background-color: black;
}

.separate-row {
  background-color: white;
  padding-top: 4vh;
  padding-bottom: 4vh;
  justify-content: center;
  align-items: center;
}

.image-row {
  background-color: white;
}
