.separate-row {
    background-color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    justify-content: center;
    align-items: center;
  }
  
  .image-row {
    background-color: white;
  }