.Guestbook {
    display: flex;
    justify-content: space-evenly;

    height: 80vh;
    width: 100vw;
    margin-top: 2em;

    &__form {
        display: flex;
        flex-direction: column;
        textarea {
            min-height: 100px;
        }
        input,
        textarea {
            background-color: white;
            font-size: 1.5em;
            padding: 0 0.5em;
            border: 2px solid $black;
            border-radius: 10px;
        }
        label {
            margin-block: 0.5em;
            font-size: 1.5em;
        }
        h1 {
            font-family: $display;
            font-size: 2.5em;
            margin-bottom: 0.5em;
            text-align: center;
        }
    }
    &__posts {
        height: 85%;
        width: 60%;
        overflow-y: scroll;
        overflow-x: hidden;

        .post {
            border-radius: 15px;
            width: 90%;
            margin: 2em;
            padding: 2em 0 1em 3em;
            color: rgba(white, 0.9);
            background-color: $highlight-red;
            .date {
                font-size: 1em;
                color: rgba(white, 0.5);
            }
            p {
                font-size: 1.5em;
            }
            h1{
                font-size: 2em;
            }
            > * {
                background-color: $highlight-red;
            }
            .reply-form {
                display: flex;
                flex-direction: column;
                padding: 2em 0;
                margin-left: 2em;
                width: 50%;
                .error-message {
                    background-color: $highlight-red;
                }
                > * {
                    margin-block: 0.5em;
                }
            }
        }
        .reply {
            width: 90%;
            padding: 2em 2em 1em 3em;
            margin-block: 2em;
            margin-left: 2em;
            border-radius: 15px;
            background-color: rgba($off-white, 0.25);
            > * {
                background-color: rgba($off-white, 0);
            }
        }
    }
}

@media (max-width: $screen-md) {
    .Guestbook {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 1em;
        &__form {
            width: 300px;
            margin-left: -15em;
            margin-bottom: 6em;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            height: 250px;
            textarea {
                min-height: 100px;
                width: 250px;
            }
            input,
            textarea {
                font-size: 12px;
            }
            label {
                font-size: 1.5em;
                width: 200px;
            }
            button {
                font-size: 12px;
                position: absolute;
                bottom: -6em;
                left: 18em;
                width: 150px;
            }
            h1 {
                font-size: 2em;
                text-align: left;
                margin-bottom: 0;
            }
        }
        &__posts {
            width: 100%;
            .post {
                width: 95%;
                h1 {
                    font-size: 2em;
                }
                p {
                    width: 600px;
                    font-size: 1.25em;
                }
                .date {
                    font-size: 0.75em;
                }
                .reply-form {
                    padding: 0;
                    margin: 0;
                }
            }
            .reply {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .Guestbook {
        &__form {
            margin-left: 0;
            margin-bottom: 1em;
            align-items: center;
            justify-content: center;
            height: 500px;
            textarea {
                min-height: 100px;
            }
            input,
            textarea {
                width: 200px;
            }
            label {
                font-size: 1em;
            }
            button {
                font-size: 8px;
                position: relative;
                left: 0;
                top: 0;
                width: 35%;
            }
            h1 {
                font-size: 1.5em;
                margin-bottom: 0.5em;
            }
        }
        &__posts {
            width: 100%;
            overflow-y: scroll;
            .post {
                width: 95%;
                padding: 1em;
                margin-left: 1em;
                h1 {
                    font-size: 1.25em;
                }
                p {
                    width: 95%;
                    font-size: 1em;
                }
                .date {
                    font-size: 0.5em;
                }
                .reply-form {
                    width: 100%;
                }
            }
            .reply {
                width: 100%;
                margin-block: 1em;
                padding: 0.5em 1em;
            }
        }
    }
}

.reply-to-message-button {
    padding: 0.5em 1.5em;
    border-radius: 10px;
    font-family: $display;
    color: black !important;
    background-color: $off-white !important;
    margin: 0.5em 0 1em;
    @media (max-width: $screen-md) {
        margin-bottom: 0.5em;
    }
    @media (max-width: $screen-sm) {
        font-size: 12px;
        width: 75%;
        align-self: center;
    }
}

@media (orientation: landscape) {
   .Guestbook{
    height: 600px;
   }
}

.submit-button {
    width: 40%;
    align-self: center;
    margin-top: 1em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    font-family: $display;
    background-color: $highlight-red;
    color: $off-white;
    transition: 500ms ease-in-out all;
    &:hover {
        background-color: rgba($highlight-red, 0.85);
    }
    @media (max-width: $screen-sm) {
        margin-top: 2em;
        padding: 1em 1.5em;
    }
}

.main-error {
    color: $highlight-red;
    text-align: center;
}
