.sticky-music-player {
    position: fixed;
    bottom: 0;
    width: 77%;
    left: 11.5%;
    transition: bottom 400ms ease-in-out;
    z-index: 2;
}
.scrolled {
    bottom: -20vh;
}

.music-contain {
    overflow: visible;
    padding-top: 3vh;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
}
.album img {
    border-radius: 20px;
    height: 220px;
}
.icon {
    width: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.icon2 {
    width: 100px;
}

.top-space {
    margin-top: 4vh;
}
.bot-space {
    margin-top: 2vh;
}
.music-row {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.music-col {
    flex-basis: 33.33%;
    margin-bottom: 3vh;
    padding-top: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.icon-box {
    padding-top: 10px;
    text-align: center;
}

.album img:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}
.icon-box img:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}
.icon2 {
    border-radius: 50px;
}
.icon2:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}

iframe {
    border-radius: 20px;
}

.line-2 {
    border-top: 1px solid black;
    transform: rotate(0.2deg);
}

.more-icons {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0;
    margin-bottom: 3vh;
    text-align: center;
}
.mob-icon-row1 {
    display: none;
}
.mob-icon-row2 {
    display: none;
}

@media (max-width: 1000px) {
    .music-row {
        flex-direction: column;
    }
    .icon2 {
        width: 70px;
    }
    p {
        font-size: 19px;
    }
    .more-icons {
        display: none;
    }
    .mob-icon-row1 {
        margin-top: 2vh;
        display: block;
        display: flex;
        justify-content: space-between;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 0;
        margin-bottom: 3vh;
        text-align: center;
    }
    .mob-icon-row2 {
        margin-top: 2vh;
        display: block;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
        margin-bottom: 3vh;
        text-align: center;
    }

    .more-music iframe {
        width: 85%;
    }

    // .scrolled {
    //     width: 90%;
    //     left: 5%;
    // }
}
