.top-horizontal-padding {
  width: 99%;
}

.page-link-text {
  font-family: $display;
  font-weight: bold;
  font-size: 25px;
}

.special-nav {
  text-decoration: none;
  margin-top: 0.25em;
  color: rgba(black, 0.55);
  &:hover {
    color: rgba(black, 0.7);
  }
  @media (max-width: $screen-md) {
    margin-top: 0;
    margin-left: 0.5em;
  }
}